h1{
    color: red;
    font-size: 50px;
    text-align: center;
}

h3{
    color: black;
    font-size: 30px;
    text-align: center;
}

table{
    width: 75%;
    border-collapse: collapse;
}

td, th{
    text-align: center;
}